Job Vacancy Board
=================

Someone has applied to the following offer:

* Title: <%= job_application.job_offer.title %>
* Location: <%= job_application.job_offer.location %>
* Description: <%= job_application.job_offer.description %>

<%= if job_application.cv_link != ''
      "Here is a link to their CV: #{job_application.cv_link}"
    else 'The applicant did not include a link to their CV.' end %>

You can contact the applicant by writing to <%= job_application.applicant_email %>