<%= f.label :title %>
<%= f.text_field :title, :class => "input-block-level" %>
<%= f.label :location %>
<%= f.text_field :location, :class => "input-block-level" %>
<%= f.label 'Valid until' %>
<%= f.date_field :validity_date, :format => "yyyy-mm-dd", :min => "#{Date.today.strftime()}" %>
<%= f.label :description %>
<%= f.text_area :description, :class => "input-block-level" %>
<%= f.label :tag_list %>
<%= f.text_field :tags, :class => "bootstrap-tagsinput", 'data-role' => "tagsinput" %>
</p>
<br/>
